h1 {
  color: rgb(220, 220, 220);
  font-weight: bold;
  font-size: 5em;
  font-family: "Raleway", sans-serif;
  background-color: black;
  z-index: 1;
  padding-left: 40px;
  line-height: 120px;
  height: 120px;
}

@media only screen and (max-width: 993px) {
  h1 {
    font-size: 3.5rem;
  }
}
